{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login Usuario</title>

    <!-- Estilos del admin -->
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/login.css' %}">
</head>

<body class="login">

<div id="container">

    <h1 id="site-name">Login de Usuario</h1>

    <div id="content">
        <div id="content-main">

            <form method="post">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>

                <div class="form-row">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>

                <div class="submit-row">
                    <input type="submit" value="Ingresar">
                </div>

            </form>

            <br>

            <!-- LINK AL ADMIN -->
            <p style="text-align:center;">
                ¿Eres administrador?
                <a href="/admin/login/">Ir al login de admin</a>
            </p>

        </div>
    </div>

</div>

</body>
</html>