{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>

    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/login.css' %}">
</head>

<body class="login">

<div id="container">

    <h1 id="site-name">Registro de Usuario</h1>

    <div id="content">
        <div id="content-main">

            <form method="post">
                {% csrf_token %}

                {{ formulario.as_p }}

                <div class="submit-row">
                    <input type="submit" value="Registrarse">
                </div>
            </form>

            <br>

            <p style="text-align:center;">
                ¿Ya tienes cuenta?
                <a href="/accounts/login/">Ir al login</a>
            </p>

            <p style="text-align:center;">
                ¿Eres administrador?
                <a href="/admin/login/">Ir al login de admin</a>
            </p>

        </div>
    </div>

</div>

</body>
</html>